name: Test PR

on:
  pull_request:
    branches:
      - main

jobs:
  test_migration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: neondatabase/create-branch-action@v4.3.1
        id: create-branch
        with:
          project_id: ${{ secrets.NEON_PROJECT_ID }}
          branch_name: test_branch
          api_key: ${{ secrets.NEON_API_KEY }}
          username: ${{ secrets.NEON_USERNAME }}
          prisma: true
          suspend_timeout: 30

      - run: echo "DATABASE_URL=${{ steps.create-branch.outputs.db_url }}" >> .env
      - run: echo "DIRECT_URL=${{ steps.create-branch.outputs.db_url }}" >> .env
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: yarn install
      - run: yarn prisma migrate deploy
      - uses: neondatabase/delete-branch-action@v3
        with:
          project_id: ${{ secrets.NEON_PROJECT_ID }}
          branch: test_branch
          api_key: ${{ secrets.NEON_API_KEY }}
        if: ${{ always() }}

